* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-repeat: no-repeat;
    background-size: 100vw 100vh cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.day {
    --primary-color: #006666;
    --secondary-color: #093d3d;
    --terciary-color: #4b7272;
    --icon-button-color: #808080;
    --background-primary-color: #f5f5f5;
    --background-secondary-color: #ffffffa0;
    --shadow-color: #00ffff3d;
}
.night {
    --primary-color: #00eeff;
    --secondary-color: #fff;
    --terciary-color: #00aeff;
    --icon-button-color: #00b7ff;
    --background-primary-color: #262626;
    --shadow-color: #287eff3d;
}
.night .current-prevision-times{color: var(--terciary-color)}
.night .weekly-forecasts-day {text-shadow: 0 0 10px #000000;}
.night .weekly-forecasts-day img {filter: drop-shadow(0 0 5px #000000a6);}
body, main {width: 100vw; height: 100vh;}
main {
    display: grid;
    place-items: center;
}
.container {
    display: grid;
    grid-template-rows: 11% 46% 32% 12%;;
    min-height: 60vh;
    padding: 15px;
    background-color: var(--background-secondary-color);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 3px 5px .5em .1em rgba(0, 0, 0, 0.5);
}
.header {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(58, 58, 58, 0.226);
}
.header h1{
    font-size: 2.2vw;
    color: var(--primary-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.header label {
    display: flex;
    width: 100%;
    border: 1px solid;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    transition: .5s all;
    height: 35px;
}
.header label input, .header label button {
    height: 100%;
    border-radius: none;
    background-color: var(--background-primary-color);
    transition: .5s;
    border: none;
}
.header label input {
    width: 85%;
    border-right: none;
    border-radius: 25px 0 0 25px;
    padding: 0 10px;
}
.header label input:focus {outline: none}
.header .in-focus {
    box-shadow: 0 0 .2em .1em var(--shadow-color);
}
.header label button {
    width: 15%;
    border-left: none;
    border-radius: 0 25px 25px 0;
    color: var(--icon-button-color);
}

/* Main */
.main-content {
    height: 100%;
}
.current-prevision {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.current-prevision > div {
    width: 100%;
    margin: 0;
}
.current-prevision-times {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 0 10px;
}
.prevision-date, .prevision-time {
    font-size: 11pt;
}
.temperature-content {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.temperature, #climate_image {
    position: relative;
}
.temperature {
    color: var(--primary-color);
    top: -5px;
    right: 5px;
    font-size: 42pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
#climate_image {
    left: 5px;
    width: 120px;
    height: 120px;
}
.more-informations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.more-informations > div {
    text-align: center;
    border: 0;
    color: var(--secondary-color);
}
.polaritys-day > div{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
}
sup {
    font-size: 9pt;
}
/* Weekly Forecasts */
.forecasts-content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.weekly-forecasts {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    /* border-top: 1px solid rgba(58, 58, 58, 0.226); */
    /* border-bottom: 1px solid rgba(58, 58, 58, 0.226); */
    border-image-slice: 1;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    color: var(--terciary-color);
    overflow-x: scroll;
}
.weekly-forecasts::-webkit-scrollbar{
    height: 0;
}
.weekly-forecasts-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekly-forecasts-day time {
    font-size: 8pt;
}
.weekly-forecasts-day > img {
    width: 40px;
    height: 40px;
}
.forecasts-polaritys {
    display: flex;
    font-size: 9pt;
    gap: 5px;
}
.forecasts-polaritys div {
    display: grid;
}
.border-forecast{
    display: block;
    width: 1px;
    height: 3em;
    background-color: var(--icon-button-color);
}
/* Rodapé */
footer {
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
}
.social-media-list {
    margin-top: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media-list-item-link{
    color: var(--secondary-color);
    transition: .5s;
}
.social-media-list-item-link:hover{
    color: var(--border-color);
}